{%extends 'layout.html'%} {%block content%}

<!-- Carousel Start -->
<div class="container-fluid px-0">
  <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="First slide"
      ></li>
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="1"
        aria-label="Second slide"
      ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img
          src="/static/sub-static/food_shelf1.jpg"
          class="img-fluid"
          alt="First slide"
        />
        <div class="carousel-caption">
          <div class="container carousel-content">
            <h6 class="text-white h4 animated fadeInUp">
              Best Shopping Solutions
            </h6>
            <h1 class="text-white display-1 mb-4 animated fadeInRight">
              An Innovative Online Store Solutions Agency!
            </h1>
            <p class="mb-4 text-white fs-5 animated fadeInDown">
              myduka is one of the most trused online store in Kenya. We have a
              large selection of goods available in the store. We stock brands
              you know and trust, ensuring the highest level of quality at all
              times.
            </p>
            <a href="" class="me-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft"
              >
                Read More
              </button></a
            >
            <a href="/contact" class="ms-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight"
              >
                Contact Us
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="/static/sub-static/food_shelf2.jpg"
          class="img-fluid"
          alt="Second slide"
        />
        <div class="carousel-caption">
          <div class="container carousel-content">
            <h6 class="text-white h4 animated fadeInUp">
              Best Shopping Solutions
            </h6>
            <h1 class="text-white display-1 mb-4 animated fadeInLeft">
              An Innovative Online Store Solutions Agency!
            </h1>
            <p class="mb-4 text-white fs-5 animated fadeInDown">
              myduka is one of the most trused online store in Kenya. We have a
              large selection of goods available in the store. We stock brands
              you know and trust, ensuring the highest level of quality at all
              times.
            </p>
            <a href="" class="me-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft"
              >
                Read More
              </button></a
            >
            <a href="/contact.html" class="ms-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight"
              >
                Contact Us
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Carousel End -->

<!-- Fact Start -->
<div class="container-fluid bg-success py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
        <div class="d-flex counter">
          <h1 class="me-3 text-infocounter-value">99</h1>
          <h5 class="text-white mt-1">Success in getting happy customer</h5>
        </div>
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
        <div class="d-flex counter">
          <h1 class="me-3 text-infocounter-value">25</h1>
          <h5 class="text-white mt-1">Thousands of successful sales</h5>
        </div>
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
        <div class="d-flex counter">
          <h1 class="me-3 text-infocounter-value">120</h1>
          <h5 class="text-white mt-1">Total clients who love myduka</h5>
        </div>
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
        <div class="d-flex counter">
          <h1 class="me-3 text-infocounter-value">5</h1>
          <h5 class="text-white mt-1">
            Stars reviews given by satisfied customers
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fact End -->

<!-- Footer Start -->
<div class="container-fluid footer bg-dark wow fadeIn" data-wow-delay=".3s">
  <div class="container pt-5 pb-4">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <a href="index.html">
          <h1 class="text-white fw-bold d-block">
            My<span class="text-secondary">duka</span>
          </h1>
        </a>
        <p class="mt-4 text-light">
          is a Certified business and Africa’s online inventory management
          system to be recognised for our commitment to people and planet.
          Myduka inspire all businesses to aspire not only to be the best in the
          world but be the best for the world. We are proud to be part of a movement to change the impact that all businesses have on
          community and environment.
        </p>
        <div class="d-flex hightech-link">
          <a
            href=""
            class="btn-light nav-fill btn btn-square rounded-circle me-2"
            ><i class="fab fa-facebook-f text-primary"></i
          ></a>
          <a
            href=""
            class="btn-light nav-fill btn btn-square rounded-circle me-2"
            ><i class="fab fa-twitter text-primary"></i
          ></a>
          <a
            href=""
            class="btn-light nav-fill btn btn-square rounded-circle me-2"
            ><i class="fab fa-instagram text-primary"></i
          ></a>
          <a
            href=""
            class="btn-light nav-fill btn btn-square rounded-circle me-0"
            ><i class="fab fa-linkedin-in text-primary"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" style="margin-left: 50%">
        <a href="#" class="h3 text-secondary">Contact Us</a>
        <div class="text-white mt-4 d-flex flex-column contact-link">
          <a href="#" class="pb-3 text-light border-bottom border-primary"
            ><i class="fas fa-map-marker-alt text-secondary me-2"></i> Techcamp
            Street, Kenya</a
          >
          <a href="#" class="py-3 text-light border-bottom border-primary"
            ><i class="fas fa-phone-alt text-secondary me-2"></i> +254 726
            678873</a
          >
          <a href="#" class="py-3 text-light border-bottom border-primary"
            ><i class="fas fa-envelope text-secondary me-2"></i>
            konyanchapaul@gmail.com</a
          >
        </div>
      </div>
    </div>
    <hr class="text-light mt-5 mb-4" />
    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <span class="text-light"
          ><a href="#" class="text-secondary"
            ><i class="fas fa-copyright text-secondary me-2"></i>myduka.com</a
          > All right reserved.</span
        >
      </div>
      <div class="col-md-6 text-center text-md-end">
        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
        <span class="text-light"
          >Designed By<a class="text-secondary">Kevin</a> Distributed By
          <a href="https://techcamp.co.ke/">Techcamp</a></span
        >
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->

{% endblock%}
