{% extends "layout.html" %}
{% block content %}


<!-- Button trigger modal -->
<div  style="margin-top: 20px;margin-left: 45% " >
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add new items
  </button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">add products</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/add_products" method="post">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">product name</label>
                  <input name="product_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">buying price</label>
                    <input name="buying_price" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">selling price</label>
                    <input name="selling_price" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Stock quantity</label>
                    <input name="stock_quantity" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>

                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                  </div>
                  </div>
                
              </form>
        
      </div>
    </div>
  </div>
  <div class="container" ></div>
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Products name</th>
            <th>Buying price</th>
            <th>Selling price</th>
            <th>Stock quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr {%for i in prods%}>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editing">
                  <i class="fa-solid fa-pen-to-square"></i> 
                  
                  </button>
                  <a href="/delete/{{ i[0] }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete?')" ><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr {%endfor%}>
</table>
</div>


<!-- editing a product -->
<div class="modal fade" id="editing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit products</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="/edit" method="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">product name</label>
                <input name="n_product_name" type="text" class="form-control" id="n_product_name" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">buying price</label>
                  <input name="n_buying_price" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">selling price</label>
                  <input name="n_selling_price" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Stock quantity</label>
                  <input name="n_stock_quantity" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Save changes</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  
                </div>
                </div>
              
            </form>
      
    </div>
  </div>
</div>



{% endblock %}
